const tokenUrl = "https://us1.pusherplatform.io/services/chatkit_token_provider/v1/your-pusher-instance-locator/token";
const instanceLocator = "v1:us1:your-pusher-instance-locator";
export { tokenUrl, instanceLocator }